
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="inner-content" style="height:80px">
        <div class="header-section" style="height:60px">
            <div class="top-menu" style="height:60px">
                <h2 style="margin-left:50px;padding-top:10px">自动收费系统</h2>
            </div>
        </div>
    </div>
</div>

<div class="body-content col-lg-12" style="margin-left:5px;margin-right:20px;height:800px;">

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><button class="blue" id="a" style="margin-left:40%;margin-right:40%">进站点生成</button></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><button class="red" id="b" style="margin-left:40%;margin-right:40%">中间站生成</button></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><button class="green" id="c" style="margin-left:40%;margin-right:40%">出站点生成</button></div>
        </div>
    </div>

    <div class="col-md-12">
        <h3 class="inner-tittle two">进站详情</h3>
        <div class="graph">
            <div class="tables">
                <table id="tb_jinzhan"></table>
            </div>
        </div>
        <h3 class="inner-tittle two">中间站详情</h3>
        <div class="graph">
            <div class="tables">
                <table id="tb_zhongjiandian"></table>
            </div>
        </div>
        <h3 class="inner-tittle two">出站详情</h3>
        <div class="graph">
            <div class="tables">
                <table id="tb_chuzhan"></table>
            </div>
        </div>
    </div>
</div>
<div class="row">



</div>
<script>
    $(document).ready(function () {
        var oTable
        var oButtonInit
        $(function () {
            //1.初始化Table
            oTable = new TableInit();
            oTable.Init();
        });
        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {

                $('#tb_jinzhan').bootstrapTable({
                    url: '/Home/Table1',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    height: 500,
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 7,                       //每页的记录行数（*）
                    pageList: [5],                     //可供选择的每页的行数（*）
                    showColumns: false,                // 列
                    pagination: true,                  //分页
                    paginationLoop: false,
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [
                        {
                            field: '车牌号码',
                            title: '车牌号码'
                        },
                        {
                            field: '进站时间',
                            title: '进站时间'
                        }
                    ]
                });

                $('#tb_zhongjiandian').bootstrapTable({
                    url: '/Home/Table2',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    height: 500,
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 5,                       //每页的记录行数（*）
                    pageList: [5],                     //可供选择的每页的行数（*）
                    showColumns: false,                // 列
                    pagination: true,                  //分页
                    paginationLoop: false,
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [
                        {
                            field: '车牌号码',
                            title: '车牌号码'
                        },
                        {
                            field: '过站时间',
                            title: '过站时间'
                        },
                        {
                            field: '站点名称',
                            title: '站点名称'
                        }
                    ]
                });
                $('#tb_chuzhan').bootstrapTable({
                    url: '/Home/Table3',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    height: 500,
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 5,                       //每页的记录行数（*）
                    pageList: [5],                     //可供选择的每页的行数（*）
                    showColumns: false,                // 列
                    pagination: true,                  //分页
                    paginationLoop: false,
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [
                        {
                            field: '车牌号码',
                            title: '车牌号码'
                        },
                        {
                            field: '出站时间',
                            title: '出站时间'
                        }
                    ]
                });
            };



            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                };
                return temp;
            };
            return oTableInit; 
        }


        $("#a").click(function () {

            $.ajax({
                type: "POST",//请求方式
                url: '/Home/create',
                dataType: "json",
                data: {

                },
                success: function (data) {
                    $('#tb_jinzhan').bootstrapTable('refresh');
                    $('#tb_zhongjiandian').bootstrapTable('refresh');
                }
            });
        });
        $("#b").click(function () {
      
            $.ajax({
                type: "POST",//请求方式
                url: '/Home/addMidStation',
                dataType: "json",
                data: {

                },
                success: function (data) {
                    $('#tb_zhongjiandian').bootstrapTable('refresh')
                }
            });
        });
        $("#c").click(function () {
  
            $.ajax({
                type: "POST",//请求方式
                url: '/Home/ExitStation',
                dataType: "json",
                data: {

                },
                success: function (data) {
                    $('#tb_chuzhan').bootstrapTable('refresh');
                    $('#tb_zhongjiandian').bootstrapTable('refresh');
                }
            });
        });
    })



</script>