
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
</head>
<body>

    <h1 class="panel-heading" style="background-color:white">@Session["负责管区"]管区的管理员，您好</h1>

</body>
</html>

